name: Build and Deploy Docs

on:
  push:
    branches:
      - main   # or master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest tests

      - name: Build documentation
        run: |
          cd docs
          make html

      - name: Upload HTML artifacts
        uses: actions/upload-artifact@v4
        with:
            name: html-docs
            path: docs/build/html/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html